.about h1{
    margin: 3vh 0 5vh 0;
    text-align: right;
    margin-right: 5vh;
}
.divider{
    width: 100vw;
    height: 3px;
    background-color: white;
}
.about{
    margin-top: 30vh;
}






@media (max-width: 480px) {
    .about{
        margin-top: 0;
    }


}