.about h5{
    font-size: 2rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
}
.divider{
    width: 100vw;
    height: 3px;
    background-color: white;
}
.name{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.aboutMe-first-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aboutMe-first-paragraph{
    font-size: 1.4rem;
    width: 70vw;
    margin: 5vh 0vh 0 0vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.aboutMe-first-paragraph img{
    width: 200px;
    height: 250px;

}
.img-outline div{
    width: 200px;
    height: 250px;
    position: absolute;
    margin-top: -235px;
    margin-left: -15px;
    outline: 2px solid white;
    z-index: -1;
}
.aboutMe-first-paragraph span{
    width: 30vw;
}





/* for phones */

@media (max-width: 480px) {
    .about{
        margin-top: 0;
    }
    .aboutMe-first-paragraph{
        margin: 0;
        margin-top: 5vh;
    }


}