header{
    height: 10vh;
    width: 90%;
    position: fixed;
    background-color: rgb(63, 78, 79);

    transition: 1s all;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0% 5%;
}
.header span{
    font-size: 1.5rem;
}
.header-nav ul{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 5vw;
    list-style: none;
}
.header-nav ul button{
    outline: none;
    border: none;
    background-color: inherit;
    font-size: 1.1rem;
}