/* color palette: https://colorhunt.co/palette/fcf8e894b49fdf786176549a
rgb(44, 54, 57)     - dark1
rgb(63, 78, 79)     - dark2
rgb(162, 123, 92)   - brown
rgb(220, 215, 201)  - light
*/
*:not(path){
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: beige;
}
html {
    background-color: rgb(44, 54, 57);
}
body{
    margin: 0;
    overflow-x: hidden;
}
.root{
    height: 100%;
}

.MainContent{
    width: 100vw;
    height: 400vh;
    z-index: -1;
}
.typing-span{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    text-align: center;
}
/* elements above fold */

.above-fold{
    padding-top: 10vh;
    height: 90vh;
    z-index: -10;
}
.intro-text{
    position: absolute;
    top: 30%;
    margin-left: 15vw;
    /* translate for fade in effect */
    transform: translate(-100%); 
    
    transition: 1s all cubic-bezier(.5,2,0.5,.8);
}
.intro-text-miniAbout{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    margin: 0 15vw 0 50vw;
    text-align: right;
    /* translate and opacity for fade in effect */
    transform: translateY(200%);
    opacity: 0;

    transition: 1s all cubic-bezier(.5,2,0.5,.8);
    
}
.intro-text-miniAbout h4{
    margin: 0;
}
.intro-text-miniAbout button{
    border: none;
    color: #749EB2;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;

    transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);
}
.intro-text-miniAbout button:hover{
    color: rgb(63, 78, 79);
    background-color: bisque;
    border-radius: 5px 5px 5px 5px;
}
.intro-text h6{
    font-size: 5rem;
    margin: 0;
    transition: 1s all cubic-bezier(0.23, 1, 0.320, 1);
}
.intro-text h6:hover{
    padding: 10px;
    transform: translate(30%);
    color: rgb(190, 190, 151);
}
.intro-text-second{
    font-size: 4.5rem;
}
/* canvas for cursor effect */
#myCanvas{
    position: absolute;
    width: 100vw;
    height: 160vh;
    top: -60vh;
    z-index: -100;
}

/* -------------------- side sections for gmail -------------------- */
.gmail-dash a{
    text-decoration: none;
    font-size: 0.8rem;
    position: fixed;
    bottom: 28vh;
    right: 0vw;

    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);

    letter-spacing: 3px;
    z-index: 100;

    transition: 1s all;
}
.gmail-dash a:hover{
    color: #749EB2;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);

    transform: translate(0%, -100%) rotate(90deg);
}
.dash-for-gmail{
    position: fixed;
    bottom: -2vh;
    right: 0vw;
    background-color: black;
    height: 2px;
    width: 240px;
    transform: rotate(90deg);
}

/* -------------------- side sections for socials -------------------- */
.socials-holder{
    position: fixed;
    bottom: -16vh;
    left: 8vw;

    z-index: 100;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
.gmail-dash a:hover{
    color: #749EB2;
}
.dash-for-socials{
    background-color: black;
    height: 240px;
    width: 2px;
    margin-left: 14.5px;
}
.socials-holder > svg:nth-child(-n+3){
    transition: 1s all;
    color: beige;
}
.socials-holder > svg:nth-child(-n+3):hover{
    transform: scale(1.1);
    color: #749EB2;
}




/* Mobile users css */
@media (max-width: 480px) {
    .intro-text h6{
        font-size: 3rem;
    }
    .intro-text{
        margin-top: -8vh;
        margin-left: 5vw;
    }





    .intro-text-miniAbout{
        font-size: 1.4rem;
        margin: 0;
        margin-top: 10vh;
        margin-left: 20vw;
    }
    .gmail-dash{
        visibility:hidden;
    }
    .socials-dash{
        visibility: hidden;
    }
  }
@media (max-width: 992px) {
    .intro-text h6{
        font-size: 3.8rem;
    }
    .intro-text{
        margin-left: 5vw;
    }
    .intro-text-miniAbout{
        font-size: 1.4rem;
        margin: 0 5vw 0 50vw;

    }
    .gmail-dash{
        visibility:hidden;
    }
    .socials-dash{
        visibility: hidden;
    }
}